<launch>
  <arg name="camera_name" default="uvc_camera" />
  <arg name="device" default="/dev/video0" />
  <arg name="height" default="480" />
  <arg name="width" default="640" />

  <node pkg="uvc_camera_driver" type="uvc_camera_driver_node" name="$(arg camera_name)" output="screen">
    <param name="video_device" type="string" value="$(arg device)" />
    <param name="image_width" type="int" value="$(arg width)" />
    <param name="image_height" type="int" value="$(arg height)" />
  </node>

</launch>
